<!doctype html>
    <html>
        <head>
        <title>Site de programme de module Transferts de masse</title>    
        </head>
        <body style=" background-image: url('/static/background1.png');background-position: center;background-repeat: no-repeat;background-size: cover;height: 87vh;width: 84vh;">
            <strong style="position: relative;top: 10px;left: 450px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size: 50px;color: rgb(0, 0, 0);">Transferts de masse</strong>
            <h1 style="position:relative;top: 150px;;left: 130px;font-size: 80px;font-family: 'Courier New', Courier, monospace;">Bonjour</h1>
            <label for="introduction" style="position: relative;top: 180px;left: 130px;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Ce projet web permet d’explorer les principes du transfert de masse à travers des simulations et des outils interactifs. Il aide à mieux comprendre des phénomènes comme la diffusion et la convection, offrant une approche simple et pratique pour l’apprentissage.</label>
            <p style="position: relative;top: -60px;left: 990px;font-size: 20px;font-family:Georgia, 'Times New Roman', Times, serif;">calcul de coefficient de diffusion</p>
            <a href="{{ url_for('calcule') }}">
            <button style="position: relative;top:-103px;left: 1280px;">1</button>
            </a>
        </body>                                 
    </html>